<div id="nacho-image" style="height:400px;overflow:hidden;">
    <img src="http://simplecustomsolutions.com/assets/images/nacho.jpg" style="margin:0 auto; display:block; position:relative; top:-80px;">
</div>

<div id="jobslider">
</div>

<div id="damatrix">
    <div id="matrix">
        
    </div>
    <div id="matrix-details">
        <h1>My view on experience</h1>
        <p>During my career I came across plenty of resumes, I always felt these devious and deceiving, so when writing my own, since I believed that the "experience" sections are always very far from reality, I decided to take a different approach.</p> 
        <p>Individuals, specially entrepreneurs, during their careers, they acquire experience in many fields, fields that they did not even expect to gain experience in, some skills they continue to use, and others they just don't have the need, time or use for it anymore.</p>
        <p>Being in the field of technology I noticed that I often got hired because I had skills on some specific field, just to end up working with a completely different technology, which I would have to learn from scratch on my own. In addition, it is very important to mention that technologies, specially programming languages evolve rapidly, and it would be unrealistic to say that I'm experienced on a language just because I was an expert three or four years ago.</p> 
        <p>For my resume, I decided this did not make sense, what made sense was to make something that illustrates and clearly communicates the technologies that I've been in touch with, and what were my levels of experience with them through time.</p>
    </div>
</div>



<div id="history">
    <h1 class="title">Recent Employment History</h1>
    
    <div class="row">
        <div class="span10">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Samba(ex-flingo)</a></li>
                <li><a href="#tab2" data-toggle="tab">Globant</a></li>
                <li><a href="#tab3" data-toggle="tab">Flingo</a></li>
                <li><a href="#tab4" data-toggle="tab">Artiphany</a></li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane" id="tab4">
                      <div id="history-section">
                          <div class="history-item">
                              <h2><img src="http://cdn.shopify.com/s/files/1/0110/8642/t/3/assets/logo.jpg?725" style="display:inline-block" /> Artiphany [2011]</h2>
                              <h4>UI/UX Consultant[UI Engineer]</h4>
                              <p>
                                  At <a href="http://artiphany.herokuapp.com/">artiphany</a> is a work in progrees, I worked with it on the first stages of the development as a consultant, giving advice and coding some of the internal parts of the framework.</p> 
                                  <ul>
                                       <li>Git </li>
                                       <li>E-Commerce (Shopify) </li>
                                       <li>Ruby on Rails </li>
                                       <li>PostgreSQL </li>
                                       <li>ActionScript 3 </li>
                                       <li>HTML5/CSS3/JQuery </li>
                                       <li>Heroku</li>
                                    </ul>
                                  
                              </p>
                          </div>
                          <div class="history-slider">
                              <img class="employement-img" src="http://simplecustomsolutions.com/assets/images/artiphany.jpg" />
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane active" id="tab1">
                      <div id="history-section">
                          <div class="history-item">
                              <h2><img src="http://samba.tv/samba_logos_heart/logo.png" style="display:inline-block" /> [2011-2013]</h2>
                              <h4>Software developer[UI Engineer]</h4>
                              <p>
                                  "<a href="http://samba.tv">Flingo</a> is a Smart TV apps publishing company, co-founded in 2008 by early employees of BitTorrent (company), including Flingo’s current CEO, Ashwin Navin, with a portfolio of applications and platform technologies embedded in the central processing unit (CPU) of Smart TVs. Its SyncApps platform enables interactive television and social television with one-click sharing on social networks like Facebook and Twitter..."(taken from Wikipedia).</p> 
                                  <p>On my second term at Samba(ex-flingo) I Worked on a integral video streaming HTML5 part of the Samba framweork called HOTLIST which is supported on several platforms such as Sharp, Vizio, internet connected TVs, Western Digital boxes and Netgear, OEM Mediatek based devices among others.</p>
                                  <p> Also worked on several of our partners Roku Channels, such as CollegeHumor, Transworld, TMZ, A&E, among others. 
                                      </p>
                                    <ul>
                                        <li>Javascript</li>
                                        <li>HTML5 with deep understanding of the &lt;video&gt; tag.</li>
                                        <li>CSS3</li>
                                        <li>JQuery</li>
                                        <li>backbone.js</li>
                                        <li>node.js</li>
                                        <li>Brighscript(Roku platform)</li>
                                        <ul>
                              </p>
                          </div>
                          <div class="history-slider">
                              <a href="http://samba.tv/"><img class="employement-img" src="http://simplecustomsolutions.com/assets/images/flingo_screens/composite.png" /></a>
                          </div>
                      </div>
                  </div>  
                <div class="tab-pane" id="tab3">
                    <div id="history-section">
                        <div class="history-item">
                            <h2><img src="http://static.flingo.tv.s3.amazonaws.com/flingo/images/logo.png" style="display:inline-block" /> [2011-2013]</h2>
                            <h4>Software developer[UI Engineer]</h4>
                            <p>
                                "<a href="http://flingo.tv">Flingo</a> is a Smart TV apps publishing company, co-founded in 2008 by early employees of BitTorrent (company), including Flingo’s current CEO, Ashwin Navin, with a portfolio of applications and platform technologies embedded in the central processing unit (CPU) of Smart TVs. Its SyncApps platform enables interactive television and social television with one-click sharing on social networks like Facebook and Twitter..."(taken from Wikipedia).</p> 
                                <p>On my first term at Flingo I worked on a video streaming actionScript 2 based application which is supported on several platforms such as Vizio internet connected TVs and Western Digital boxes among others. Worked on several structural components of the application.
                                <ul><li>HTML5 Apps for Smart TVs</li>
                                    <li>AS2 Apps for Smart TVs</li>
                                    <li>Python based "apps" administrators</li>
                                    <li>Brightscript based Roku Channels</li><ul>
                            </p>
                        </div>
                        <div class="history-slider">
                            <a href="http://flingo.tv/demo"><img class="employement-img" src="http://simplecustomsolutions.com/assets/images/flingo_screens/composite.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div id="history-section">
                        <div class="history-item">
                            <h2><img src="http://simplecustomsolutions.com/assets/images/globant_logo.png" style="display:inline-block" /> [2010-2011]</h2>
                            <h4>Flex developer</h4>
                            <p>
                                "<a href="http://globant.com">Globant</a> is an IT and Software Development company operating in Argentina, Colombia, Uruguay, England, Brazil and the United States. It was formed in 2003 by Martín Migoya, Guibert Englebienne, Martín Umaran and Néstor Nocetti.[1] It is headquartered in Buenos Aires..."(taken from Wikipedia)<br/>
                                Worked on various web-based projects; Primary assignment was EA Games FIFA Creation Centre. Worked as an integral part of a team for the development of an innovative social networking application allowing users to create and share players and teams.
                                Language and tools commonly used:</p> 
                                <p>At Flingo I worked as a technical design and development engineer for several projects such as:
                                <ul><li>ActionScript 3</li>
                                    <li>Flex</li>
                                    <li>PureMVC framework</li>
                                    <li>Maven</li><ul>
                            </p>
                        </div>
                        <div class="history-slider">
                            <a href="http://news.futhead.com/posts/fifa-14/25765-fifa-14-creation-centre-now-live"><img class="employement-img" src="http://simplecustomsolutions.com/assets/images/flingo_screens/composite_globant.png" /></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

</div>