<div class="jobslider-section arrow" id="arrow-left">
    LEFT
</div>
<div class="jobslider-section" id="jobslider-content">
    <div id="slides-container">
        <div id="slide-1" class="slide">
            HELLO
        </div>
        <div id="slide-2" class="slide">
            BYE
        </div>
    </div>
</div>
<div class="jobslider-section arrow" id="arrow-right">
    RIGHT
</div>