<div class="jobslider-section arrow" id="arrow-left">
    <i class="icon-arrow_left icon2x arrow-custom"></i>
</div>
<div class="jobslider-section" id="jobslider-content">
    <div id="slides-container">
        <div id="slide-1" class="slide">
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_flingo.png">
            </div>
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_scs.png">
            </div>
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_globant.jpg">
            </div>
        </div>
        <div id="slide-2" class="slide">
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_stoelt.png">
            </div>
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_artiphany.png">
            </div>
            <div class="experience-card">
                <img src="http://simplecustomsolutions.com/assets/images/experience_cards/work_edu.png">
            </div>
        </div>
    </div>
</div>
<div class="jobslider-section arrow" id="arrow-right">
    <i class="icon-arrow_right icon2x arrow-custom"></i>
</div>