<div id="javascript" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/js.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-javascript">

        </div>
    </div>
</div>

<div id="html5" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/html5.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-html5">

        </div>
    </div>
</div>

<div id="css3" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/css3.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-css3">

        </div>
    </div>
</div>

<div id="ruby" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/ruby.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-ruby">

        </div>
    </div>
</div>

<div id="python" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/python.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-python">

        </div>
    </div>
</div>

<div id="php" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/php.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-php">

        </div>
    </div>
</div>

<div id="as3" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/as3.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-as3">

        </div>
    </div>
</div>

<div id="git" class="matrix-line">
    <div class="logo">
        <img src="http://simplecustomsolutions.com/assets/images/exp_logos/git.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-git">

        </div>
    </div>
</div>

<div id="epochs">
    <ul>
        <li>[2007-2008]</li>
        <li>[2009-2010]</li>
        <li>[2011]</li>
        <li>[2012]</li>
        <li class="focus">[2013]</li>
    </ul>
</div>