<div id="git" class="matrix-line">
    <div class="logo">
        <img src="http://git-scm.com/images/logos/2color-lightbg@2x.png">
    </div>
    <div class="exp">
        <div class="experience" id="experience-git">

        </div>
    </div>
</div>

<div id="python" class="matrix-line">
    <div class="logo">
        <img src="http://www.python.org/community/logos/python-powered-w-100x40.png">
        
    </div>
    <div class="exp">
        <div class="experience" id="experience-python">

        </div>
    </div>
</div>

<div id="javascript" class="matrix-line">
    <div class="logo">
        <img src="http://i.stack.imgur.com/Mmww2.png">
        
    </div>
    <div class="exp">
        <div class="experience" id="experience-javascript">

        </div>
    </div>
</div>


<div id="epochs">
    <ul>
        <li>[2007-2008]</li>
        <li>[2009-2010]</li>
        <li>[2011]</li>
        <li>[2012]</li>
        <li>[2013]</li>
    </ul>
</div>