<div id="footer-content">
    <table id="contacts-table">
        <tr><td class="td-icon"><i class="icon-user icon2x"></i></td><td class="td-info"> Reach me at 312-622-7842</li></td></tr>
        <tr><td class="td-icon"><i class="icon-mail icon2x"></i></td><td class="td-info"> Email me at <a href="mailto:ipalladino@gmail.com" >ipalladino@gmail.com</a></td></tr>
        <tr><td class="td-icon"><i class="icon-facebook icon2x"></i></td><td class="td-info"> Contact me on <a href="https://www.facebook.com/ipalladino">Facebook</a></td></tr>
        <tr><td class="td-icon"><i class="icon-linked_in icon2x"></i></td><td class="td-info"> Connect with me on <a href="http://www.linkedin.com/profile/view?id=97145820">LinkedIn</a></td></tr>
        <tr><td class="td-icon"><i class="icon-twitter icon2x"></i></td><td class="td-info"> Follow me on <a href="https://twitter.com/feelAnalytic">Twitter</a></td></tr>
    </table>
</div>

