<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Ignacio D. Palladino</a>
        <div class="nav-collapse">
          <ul class="nav">
              <li><%= link_to "Experience", "#damatrix" %></li>
              <li><%= link_to "Employment History", "#history" %></li>
              <li><%= link_to "Contact Me", "#footer-content" %></li>
          </ul>
        </div>
      </div>
    </div>
</div>

<h1 class="author-name">IGNACIO DAVID PALLADINO</h1>

<!--h1 class="ribbon">
   <strong class="ribbon-content">Ignacio D. Palldino</strong>
</h1-->